.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.login__logo {
  height: 10em;
  width: 10em;
}

.login-button {
  background-color: var(--accentColor);
  margin: 2em 0em;
  font-size: 1.4rem;
  padding: 0.6em 1.2em;
  border-radius: 32em;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}
